@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500&display=swap');

*{
    font-family: 'Assistant', sans-serif;
}
.navbar-brand{
  height: 60px;
  padding-left: 160px;
}
.hdg{
  display: flex;
  justify-content: center;
}
.head{
  display: flex;
  justify-content: center;
  gap: 20px;
}

input{
  width: 900px;
  height: 50px;
  border-radius: 10px;
  padding-left: 20px;
}


.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.des{
  display: flex;
  flex-direction: column;
}
.first{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
  margin: auto;
  margin-top: 50px;
}

.bold{
  font-weight: 600;
  font-size: 25px;
}

.p{
  font-size: 18px;
  color: rgb(69, 69, 69);
}

.dest{
  margin-top: 90px;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  font-size: 18px;
  color: rgb(51, 51, 51);
}

.card{
  width: 70%;
  margin: auto;
  padding: 10px;
  text-align: center;
}

.ft{
  background-color: rgba(202, 202, 202, 0.529);
  margin-bottom: -20px;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.emg{
  height: 60px;
}

/* For devices with a width of up to 768px */
@media (max-width: 768px) {
  .hdg h1 {
    font-size: 24px;
  }
  
  .first,
  .des {
    width: 85%;
  }
  .bold {
    font-size: 20px;
  }
  .p {
    font-size: 16px;
  }
  .dest {
    margin-top: 50px;
    gap: 10px;
    font-size: 16px;
  }
  .card {
    width: 85%;
    padding: 8px;
  }
}

/* For devices with a width of up to 600px */
@media (max-width: 600px) {
  .navbar-brand {
    padding-left: 45px;
  }
  .head{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }
  input{
    width: auto;
  }
 
}
